{{!-- {{> header}} --}}

<main>
    <h2>Welcome to the Template1 Page!</h2>
    <p>This is the Template1 content.</p>
    <a href="/template1/about">About</a>

    <ul>
        {{#each data}}
            <li>Name: {{this.name}}</li>
            <li>Username: {{this.username}}</li>
            <li>Email: {{this.email}}</li>
            <!-- Add other properties as needed -->
        {{/each}}
    </ul>
</main>
